.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.page-item.active .page-link {
  z-index: 3;
  color: #fff !important;
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
}
